<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demoty - strona główna</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Vujahday+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/demoty.css}"/>
</head>
<body>
  <h1>Demoty</h1>
  <nav class="navigation">
    <ul>
      <a th:href="@{/login}"><li>Zaloguj się</li></a>
      <a th:href="@{/register}"><li>Zarejestruj się</li></a>
    </ul>
  </nav>
  <main>

  </main>
</body>
</html>